<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="swaggerwcf" type="SwaggerWcf.Configuration.SwaggerWcfSection, SwaggerWcf" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="SystemId" value="3B08540C121F43F396758D19F162E1D5" />
    <add key="MockZajelServiceClient" value="1"/>
    <add key="AppIdAwbPair" value="17798,128954"/>
    <add key="CurrentZajelStatus" value="Dispatched"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="restHandler" type="Emaratech.Services.WcfCommons.Rest.RestServiceBehaviorExtension, Emaratech.Services.WcfCommons.Rest">
        </add>
      </behaviorExtensions>
    </extensions>
    <services>
      <service behaviorConfiguration="Default" name="Emaratech.Services.Zajel.ZajelService">
        <endpoint address="json" binding="webHttpBinding" contract="Emaratech.Services.Zajel.Contracts.Rest.IZajelService" />
        <endpoint address="soap" binding="basicHttpBinding" contract="Emaratech.Services.Zajel.Contracts.Rest.IZajelService" />
        <endpoint address="soap/monitor" binding="basicHttpBinding" contract="Emaratech.Services.WcfCommons.HealthCheck.IHealthCheck" />
        <endpoint address="json/monitor" binding="webHttpBinding" contract="Emaratech.Services.WcfCommons.HealthCheck.IHealthCheck" />
      </service>
    </services>
    <client>
      <endpoint address="http://localhost/Emaratech.Services.Zajel.DataAccess/ZajelDataAccessService.svc" binding="basicHttpBinding" contract="Emaratech.Services.Zajel.Contracts.DataAccess.IZajelDataAccessService" name="BasicHttpBinding_IZajelDataAccessService" />
      <endpoint address="http://localhost/Emaratech.Services.Zajel.DataAccess/ZajelDataAccessService.svc/monitor" binding="basicHttpBinding" contract="Emaratech.Services.WcfCommons.HealthCheck.IDataAccessHealthCheck" name="BasicHttpBinding_IDataAccessHealthCheck" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <restHandler />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding hostNameComparisonMode="StrongWildcard" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00" maxReceivedMessageSize="65536000" maxBufferSize="65536000" maxBufferPoolSize="524288" transferMode="Buffered" messageEncoding="Text" textEncoding="utf-8" bypassProxyOnLocal="false" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="6553600" maxArrayLength="6553600" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding hostNameComparisonMode="StrongWildcard" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00" maxReceivedMessageSize="65536000" maxBufferSize="65536000" maxBufferPoolSize="524288" transferMode="Buffered" bypassProxyOnLocal="false" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="6553600" maxArrayLength="6553600" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>    
  </system.serviceModel>
  <system.webServer>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="origin, content-type, accept" />
        <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, OPTIONS" />
      </customHeaders>
        </httpProtocol>-->
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\EAP-LOGS\Zajel\" />
      <datePattern value="'log'yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="5MB" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <swaggerwcf>
    <tags>
      <tag name="LowPerformance" visible="false" />
    </tags>
    <settings>
      <setting name="BasePath" value="/Zajel/ZajelService.svc/json" />
      <setting name="InfoDescription" value="" />
      <setting name="InfoVersion" value="0.0.1" />
      <setting name="InfoTermsOfService" value="" />
      <setting name="InfoTitle" value="Zajel Service" />
      <setting name="InfoContactName" value="" />
      <setting name="InfoContactUrl" value="http://www.emaratech.ae" />
      <setting name="InfoContactEmail" value="ecore@emaratech.ae" />
      <setting name="InfoLicenseUrl" value="" />
      <setting name="InfoLicenseName" value="Emaratech" />
    </settings>
  </swaggerwcf>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
  </connectionStrings>  
</configuration>